# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your-api-token

# Webhook
SANITY_WEBHOOK_SECRET=your-webhook-secret

# Preview
SANITY_PREVIEW_SECRET=your-preview-secret

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret # NextAuth JWTシークレット
NEXTAUTH_URL=http://localhost:3000 # NextAuth URL、Vercel環境では自動設定されるがローカル開発用
